/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.wrapper{
    width: 960px;
    margin: 0 auto 0 auto; //повна форма

}

.header .top{
background: #000000;
color: #ffffff;


}

.left{
    float: left;
}

.right{
    float: right;

}
.clear{
    clear: both;
    overflow: hidden;
    height: 0 !important;
    width:  0 !important;
}

a{
    text-decoration: none;
}

.header{
text-align: center;
}

.header .top {
    background: #000000;

    padding: 30px 15px 40px 15px;


}

.header .top li{
    float: left;
    margin-right: 15px;

}


.header .top li,
.header .top li a{
    color: #ffffff;
     font-size:  14px;
    font-weight: bold;
    text-transform: uppercase;


}

.header .top li a{
    text-decoration: none;
}

.page{

    margin: auto;
    text-align: center;
}
.page .head-logo{
    width: 960px;
    margin: 0px;

}

.head-logo{
    display: inline-block;
    position: relative;
    height: 75px;

    padding-top: 18px;
    padding-left: 18px;
}

.language{
    width: 170px;
    height: 75px;
    float: left;
    text-align:left;
    padding-top: 20px;
}

.account{
    display: inline-block;

    width: 150px;
    height: 75px;
    float: right;


}
.account p{
    padding-top: 20px;
    float: left;
}


.nav{
margin-top: -30px;
}

.nav ul li{



    margin-left: 10px;
    font-size: 15px;
    vertical-align:bottom; /* вот она */
    display:inline-block;

}
.search-t{
    width:60px; height: 25px; padding:0px 3px; position:relative;
    border-style: none;
}
.search-b{
    background: url("Img/search.jpg") no-repeat;
    width: 24px; height: 25px;  border-style: none;
}

